.line-through { text-decoration: line-through; }
html, body {}

.email-container {}

.email-container > * {flex: 1 0}

a:hover {
	text-decoration: none;
}

a:focus {
	outline: none;
}

.email-container li:hover {
	transform: scale(1.02);
	transition: 0.1s;
}