<p class="h1 text-center"><%= email.object %></p>
<p class="text-center"><%= email.body %></p>
<div class="d-flex">
	<%= link_to "Delete", email_path(email), method: :delete, remote: true, class:"btn btn-danger" %>

	<% if email.read %>
		<%= render "button", destination: email_unread_path(email), title: "Unread" %>
	<% end %>
</div>